h1 {
    text-align: center;
    color: rgb(171, 199, 250);
  }
  
  .homeImage img, .image404 img {
    max-width: 1000px;
}

img {
  width: 500px;
}

.placesLink {
  text-decoration: none;
}

h3 {
  text-align: center;
}
