/* // color scheme
// Red: BF0603
// Light Blue: 8EB1C7 
// Light Grey: C1BFB5
// Dark Purple: 4B3B47
// Dark Grey/Green: 353535 */

/* html {
  background-color: #8EB1C7;
} */

h1 {
    padding: 10px 0 0 0;
    text-align: center;
    color: #8EB1C7;
    margin: 0;
}

h2 {
  color: rgb(171, 199, 250);
} 

h3 {
  color: rgb(171, 199, 250);
}

h4 {
  color: rgb(171, 199, 250);
}

.homeImage img, .image404 img {
    max-width: 1000px;
}

img {
  width: 500px;
}

.placesLink {
  text-decoration: none;
}

h3 {
  text-align: center;
}

nav {
  background-color: #353535;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: #C1BFB5;
  font-size: 1.5em;
}

nav a:hover {
  color: #BF0603;
  text-decoration: none;
}

body {
  background-color: #8EB1C7;
  text-align: center;
}

main {
  padding: 10px 0 10px 0;
  background-color: white;
}
.show-image {
  display: flex;
}

.show-content {
  display: flex;
  flex-direction: column;
}

.show-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 20px 20px 20px;
}

.show-comments {
  padding: 10px;
  margin: 20px;
  border-top: 1px solid lightblue;
  height: fit-content;
}

.upper-show-review {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.show-review form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  height: fit-content;
}

.show-review-check {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.checkbox  {
  margin: 10px;
}

.show-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
}

.show-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.show-buttons .btn {
  margin: 20px;
}

div.row {
  justify-content: center;
  align-items: center;
}

.image-places {
  max-width: 225px;
  max-height: 250px;
  width: auto;
}

.form-format {
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 10px auto 10px auto;
  padding: 15px;
  border: 3px solid #353535;
  border-radius: 5px;
}

.form-group {
  margin: 10px;
}

.form-submit {
  background-color: #353535;
  border-color: #353535;
  margin: 10px 0 0 0;
}

.form-submit:hover {
  background-color: #BF0603;
  border-color: #353535;
}

.form-text {
  display: flex;
  text-align: left;
  color: #353535;
  font-size: 1.5em;
  font-weight: 500;
  margin-left: 10px;
}

.form-control {
  color: #C1BFB5;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* margin-top: -50px; */
}

.footer p {
  margin: 0;
}